.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  .SecondContainer {
    display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: rgb(17, 53, 53);
    padding: 15px;
    margin: 15px;
  }
h1{
    text-align: center;
    
}
input{
    border-radius: 10px;
    width: 250px;
    height: 40px;
}
::placeholder{
    text-align: center;
}
button{
    width: 100px;
    height: 40px;
    border-radius:10px;
}
.data{
    border-radius: 10px;
    padding: 10px;
    display: flex;
    gap: 10px;
    margin: 10px;
    background-color:#0093E9;
    text-transform: uppercase;
    font-size: 10px;
}
.main{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
       
}
*{
    box-sizing: border-box;
}
